@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.project-tagline a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}
